.updateStaff-component .container {
    background: rgb(185,114,74); 
    background: linear-gradient(90deg, #B9724A, #B05F62, #945774, #6C5479, #46506E, #2F4858);
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
    padding-bottom: 10px;
    padding-top: 25px;
}


/* Heading */
.updateStaff-component .row h1 {
    color: white;
    font-weight: 500;
    padding-bottom: 15px;
    padding-left: 170px;
    text-shadow: 0 5px 10px rgb(0, 0, 0, 0.15);
}


/* Back Button */
.updateStaff-component .row .back-button img {
    width: 50px;
    margin-left: 50px;
}


 /* GIF */
.updateStaff-component .col-4 img {
    width: 190px;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}


/* Input */
.updateStaff-component .col-4 .row input, .updateStaff-component .col-4 .row select {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.15);
}
.updateStaff-component .col-4 .row input:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.updateStaff-component .col-4 .row label {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

/* Switch Input */
.updateStaff-component .col-4 .row .form-check-input {
    width: 15%;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}
.updateStaff-component .col-4 .row .form-check-input:checked {
    background-color: rgb(0, 201, 170);
}

/* Submit Button */
.updateStaff-component .submit-button {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.updateStaff-component .submit-button button {
    background-color: rgb(0, 201, 170);
    color: white;
    font-weight: 500;
    font-size: lrem;
    border-radius: 20px;
    padding: 9px 20px;
    border: none;
    transition: .2s;
}
.updateStaff-component .submit-button button:hover {
    background-color: white;
    color: rgb(0, 201, 170);
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.3);
}
.updateStaff-component .submit-button button:active {
    opacity: .7;
}

.updateStaff-component .notification {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0 2px 5px rgb(0, 0, 0, 0.15);
}