.manageStaff-component {
    margin-bottom: 30px;
}


/* Table */
.manageStaff-component .table {
    position: relative;
    background: rgb(185,114,74); 
    background: linear-gradient(90deg, #B9724A, #B05F62, #945774, #6C5479, #46506E, #2F4858);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}


/* Table heading left */
.manageStaff-component .table .table-heading-left {
    color: white;
    width: 100%;
    height: 10%;
    font-weight: 500;
    text-shadow: 0 2px 5px rgb(0, 0, 0, 0.15);
    padding: .8rem 1rem;
}

/* Table heading right */
.manageStaff-component .table .table-heading-right {
    width: 100%;
    border-radius: 20px;
}

.manageStaff-component .table thead tr {
    color: white;
}

/* Table content */
.manageStaff-component .table th, .manageStaff-component .table td, .manageStaff-component .table {
    padding: 1rem;
}

.manageStaff-component .table tbody {
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: 1rem;
    overflow: auto;
}

.manageStaff-component table img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
}

.manageStaff-component table {
    width: 100% ;
    height: 70%;
    margin-bottom: 30px;
}

.manageStaff-component .table tbody tr:nth-child(even) {
    background-color: #00000006;
}

.manageStaff-component .table tbody tr:hover {
    background-color: #fff6;
}

/* Delete Button */
.manageStaff-component tbody .delete-button, .manageStaff-component tbody #delete-button  {
    background-color: rgb(0, 201, 170);
    color: white;
    padding: 2px 15px;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 1rem;
    transition: .05s;
}
.manageStaff-component tbody .delete-button:active {
    opacity: .65;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.15);
}


/* Update Button */
.manageStaff-component tbody .update-button {
    background-color: rgb(0, 201, 170);
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 8.2px 18px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.manageStaff-component tbody .update-button:active {
    opacity: .65;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.15);
}


/* Add Button */
.manageStaff-component .table .add-button {
    text-align: right;
    margin-bottom: 15px;
    margin-right: 40px;
}
.manageStaff-component .table .add-button-Link {
    background-color: rgb(0, 201, 170);
    color: white;
    margin-bottom: 120px;
    padding: 7px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.manageStaff-component .table .add-button .add-button-Link:hover {
    color: rgb(0, 201, 170);
    background-color: white;
    box-shadow: 9px 9px 10px rgb(0, 0, 0, 0.3);
}
.manageStaff-component .table .add-button .add-button-Link:active {
    opacity: .7;
}