.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkcyan;
    cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconsContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: darkblue;
    padding: 10px;
}

.topbarIconsContainer svg {
    width: 220%;
    height: 220%;
    
}

.topIconBagde{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.linkAdminPage{
    text-decoration: none;
}