/* Component */
.addCombo-component {
    margin-bottom: 30px;
    animation: 1s ease-in-out component-motion;
}

@keyframes component-motion {
    from { transform: translateX(-1300px); }
    to {transform: translateX(0);}
}

.addCombo-component .container {
    background: rgb(185,114,74); 
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
    padding-bottom: 10px;
    padding-top: 25px;
}

/* Heading */
.addCombo-component h1 {
    color: white;
    font-weight: 500;
    padding-bottom: 15px;
    padding-left: 170px;
    text-shadow: 0 5px 10px rgb(0, 0, 0, 0.15);
}

/* Heading Motion */
.addCombo-component .heading-motion {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 201, 170);
    border-radius: 50%;
    animation: 5s ease-in-out infinite alternate heading-motion;
}

@keyframes heading-motion {
    from {
        transform: translateX(70px);
    }
    to {
        transform: translateX(550px);
    }
}

/* Back Button */
.addCombo-component .row .back-button img {
    width: 50px;
    margin-left: 50px;
}

/* GIF */
.addCombo-component .col-4 img {
    width: 190px;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}


/* Input */
.addCombo-component .col-4 .row input, .addCombo-component .col-4 .row select {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.15);
}
.addCombo-component .col-4 .row input:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.addCombo-component .col-4 .row label {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 8px;
}


/* Switch Input */
.addCombo-component .col-4 .row .form-check-input {
    background-color: white;
    width: 15%;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}
.addCombo-component .col-4 .row .form-check-input:checked {
    background-color: rgb(0, 201, 170);
}


/* Submit Button */
.addCombo-component .submit-button {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.addCombo-component .submit-button button {
    background-color: rgb(0, 201, 170);
    color: white;
    font-weight: 500;
    width: 100%;
    border-radius: 20px;
    padding: 9px;
    border: none;
    transition: .2s;
    
}
.addCombo-component .submit-button button:hover {
    background-color: white;
    color: rgb(0, 201, 170);
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.3);
}
.addCombo-component .submit-button button:active {
    opacity: .7;
}