body {
  margin: 0px;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
      sans-serif;
}
.navbar-container {
  
  box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
}
.navbar {
  background-color:  #633D27FF;
  max-width: 2000px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-left img {
  width: 50px;
  margin-right: 20px;
}
.navbar-left .imgpet1 img {
  position: absolute;
  top: 0px; 
  left: 650px; 
  width: 420px; 
  height: 150px;  
}
.navbar-left div {
  font-weight: 500;
  color: #ffff;;
}
.navbar-left div:hover,
.find-a-store:hover {
  color: #00754a;
}

.userIcon img{
  margin-bottom: 20px;
  margin-left: 760px;
  width: 30px;
  background-color: #fff;
  border-radius: 20px
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left > *,
.navbar-right > * {
  margin: 20px;
}
.navbar-right .sign-in,
.navbar-right .logout {
  font-weight: 500;
  border: 1px solid black;
  color: #ffff;
  border-radius: 40px;
  padding: 5px 20px 5px 20px;
}

.logout {
  background-color: #362115FF;
  color: white;
}

.logout:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.link{
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
}
.link div.hover,
.find-a-store:hover{
  color: #00754a
}
.login-button{
  text-decoration: none;
  font-weight: 500;
  border: 1px solid black;
  color: #ffff;
  border-radius: 40px;
  padding: 5px 20px 5px 20px;
}
.login-button:hover {
  background-color: white;
  color: black;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.product img {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}
.product {
  display: flex;
}

.product-left,
.product-right {
  max-width: 50%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
}

.product-title {
  width: 100%;
  text-align: center;
  color: white;
}
.product-container {
  margin: 40px 0px 40px 0px;
  display: flex;
}

.product-button {
  border: 1px solid white;
  max-width: max-content;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
.product-button-white {
  color: white;
}
.product-description {
  text-align: center;
  padding: 30px 60px 30px 60px;
  font-size: 18px;
}


/*Login page*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
      sans-serif;
}

.loginBody{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.containerLogin{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.containerLogin p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containerLogin span{
    font-size: 12px;
}

.containerLogin a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containerLogin button{
    background-color: rgb(144, 86, 53);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.containerLogin button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.containerLogin form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.containerLogin input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-containerLogin{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.block {
  display: block;
}

.w-fit {
  width: fit-content;
}

.ml-auto {
  margin-left: auto;
}

.hover\:underline:hover {
  text-decoration: underline;
}
.Loginsign-in{
    color: #333;
    left: 0;
    width: 50%;
    z-index: 2;
}

.containerLogin.active .Loginsign-in{
    transform: translateX(100%);
}

.Loginsign-up{
    color: #333;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.containerLogin.active .Loginsign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.loginButton{
    color: #333;
    margin: 20px 0;
}

.loginButton img{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-containerLogin{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.containerLogin.active .toggle-containerLogin{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.Logintoggle{
    background-color: #633D27FF;
    height: 100%;
    background: linear-gradient(to right, rgb(85, 52, 33), rgb(153, 95, 62));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containerLogin.active .Logintoggle{
    transform: translateX(50%);
}

.toggle-panelLogin{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.Logintoggle-left{
    transform: translateX(-200%);
}

.containerLogin.active .Logintoggle-left{
    transform: translateX(0);
}

.Logintoggle-right{
    right: 0;
    transform: translateX(0);
}

.containerLogin.active .Logintoggle-right{
    transform: translateX(200%);
}


/*Booking*/
.content .container {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #bebebe, #c9d6ff);
  margin-top: 30px;
  padding-bottom: 25px;
}

.content .container-heading {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content .input-group, .content .row {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.content .input-group:nth-child(4) {
  padding-right: 40px;
  text-align: center;
}

.content .row label {
  color: rgb(0, 0, 0);
}

.content .btn-success {
  display: block;
  margin-left: auto;
  margin-right: 40px;
}


/*Change Password*/

.contentChangePassWord .container {
  background-color: rgb(155, 95, 60);
  margin-top: 30px;
  padding-bottom: 25px;
}

.contentChangePassWord .container-heading {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: fantasy;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 120px;
  height: 120px;
  object-position: center;
  object-fit: cover;
  border-radius: 5%;
  border-radius: 60px;
}

.user-name{
  display: flex;
  justify-content: center;
}

.user-name h1{
  font-size: 20px;
  font-family: Cursive;
}

.change{
  display: flex;
  justify-content: center;
}

.change-password {
  max-width:70%;
}

.contentChangePassWord .input-group, .content .row {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-family: Cursive;
}

.contentChangePassWord .row label {
  color: white;
}

.contentChangePassWord .btn-success {
  display: block;
  margin-left: auto;
  margin-right: 40px;
}

.contentChangePassWord .nav-item {
  display: block;
  margin-left: auto;
  margin-right: 40px;
}