body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar-container {
  box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
}

.navbar {
  background-color:  #633D27FF;
  max-width: 2000px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  width: 60px;
  margin-right: 20px;
}

.navbar-left div {
  color: white;
  margin-right: 1em;
  cursor: pointer;
}

.navbar-right {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-right .sign-in,
.navbar-right .logout {
  margin-right: 1em;
  cursor: pointer;
}

header nav a {
  text-decoration: none;
  margin: 0 1em;
}

.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}