.header-component {
    background: rgb(185,114,74); 
    background: linear-gradient(90deg, #B9724A, #B05F62, #945774, #6C5479, #46506E, #2F4858);
    margin-bottom: 30px;
    z-index: 100;
}


/*Left*/
.header-component .container .row .col-5 span img {
    width: 60px;
}

.header-component .navbar-nav .link {
    background-color: rgb(0, 201, 170);
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: .95rem;
    padding: 9px 11px;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s;
}
.header-component .navbar-nav .link:hover {
    background-color: white;
    color: rgb(0, 201, 170);
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.3);
}
.header-component .navbar-nav .link:active {
    opacity: .7;
}


/*Center*/
.header-component .container .row .col-5 .center-img img {
    width: 180px;
}


/*Right*/
.header-component .container .col-2 button:nth-child(1) {
    margin-right: 20px;
    background-color: none;
}

.header-component .container .col-2 button {
    background-color: rgb(0, 201, 170);
    color: white;
    font-weight: 500;
    font-size: .95rem;
    border-radius: 20px;
    padding: 9px 11px;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.header-component .container .col-2 button:hover {
    background-color: white;
    color: rgb(0, 201, 170);
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.3);
}
.header-component .container .col-2 button:active {
    opacity: .7;
}