/* Component */
.updateService-component {
    margin-bottom: 30px;
    animation: 1s ease-in-out component-motion;
}

@keyframes component-motion {
    from { transform: translateX(-1300px); }
    to {transform: translateX(0);}
}

.updateService-component .container {
    background: rgb(185,114,74); 
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
    padding-bottom: 10px;
    padding-top: 25px;
    transition: .4s;
}


/* Heading */
.updateService-component .row h1 {
    color: white;
    font-weight: 500;
    padding-bottom: 15px;
    padding-left: 170px;
    text-shadow: 0 5px 10px rgb(0, 0, 0, 0.15);
}


/* Back Button */
.updateService-component .row .back-button img {
    width: 50px;
    margin-left: 50px;
}


 /* GIF */
.updateService-component .col-4 img {
    width: 190px;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}


/* Input */
.updateService-component .col-4 .row input, .updateService-component .col-4 .row select {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.15);
}
.updateService-component .col-4 .row input:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.updateService-component .col-4 .row label {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

/* Switch Input */
.updateService-component .col-4 .row .form-check-input {
    width: 15%;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}
.updateService-component .col-4 .row .form-check-input:checked {
    background-color: rgb(0, 201, 170);
}

/* Submit Button */
.updateService-component .submit-button {
    background-color: rgb(0, 201, 170);
    color: white;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 20px;
    padding: 9px 20px;
    border: none;
    margin-bottom: 20px;
    transition: .2s;
}
.updateService-component .submit-button:hover {
    background-color: white;
    color: rgb(0, 201, 170);
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.3);
}
.updateService-component .submit-button:active {
    opacity: .7;
}

.updateService-component .submit-button:disabled {
    cursor: not-allowed;
    opacity: .7;
}
.updateService-component .submit-button:disabled:hover {
    background-color: rgb(0, 201, 170);
    color: white;
    box-shadow: none;
}
