/* Component */
.manageCombo-component {
    margin-bottom: 30px;
    animation: 1s ease-in-out component-motion;
}

@keyframes component-motion {
    from { transform: translateX(-1300px); }
    to {transform: translateX(0);}
}

/* Table */
.manageCombo-component .table {
    position: relative;
    background: rgb(185,114,74); 
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

/* Table heading left */
.manageCombo-component .table .table-heading-left h1 {
    color: white;
    width: 100%;
    height: 10%;
    font-weight: 500;
    text-shadow: 0 2px 5px rgb(0, 0, 0, 0.15);
    padding: .8rem 1rem;
}

/* Table heading right */
.manageCombo-component .table .table-heading-right {
    width: 100%;
    border-radius: 20px;
}

.manageCombo-component .table thead tr {
    color: white;
}

/* Table content */
.manageCombo-component .table th, .manageCombo-component .table td, .manageCombo-component .table {
    padding: 1rem;
}

.manageCombo-component .table tbody {
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: 1rem;
    overflow: auto;
}

.manageCombo-component table {
    width: 100% ;
    height: 70%;
    margin-bottom: 30px;
}

.manageCombo-component .table tbody tr:nth-child(even) {
    background-color: #00000006;
}

.manageCombo-component .table tbody tr:hover {
    background-color: #fff6;
}

/* Dropdown Toggle */
.manageCombo-component tbody .dropdown-toggle {
    background-color: rgb(0, 201, 170);
    color: white;
    transition: .5s;
}

/* Dropdown Menu */
.manageCombo-component tbody .dropdown-menu {
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.15);
    cursor: pointer;
}


/* Dropdown Item */
.manageCombo-component tbody .update-button {
    text-decoration: none;
    color: black;
}

.manageCombo-component tbody .dropdown-item  {
    font-weight: 500;
    font-size: 1rem;
    opacity: .6;
    transition: .2s;
}
.manageCombo-component tbody .dropdown-item:hover {
    border-radius: 9px;
    transform: translateX(4px);
    opacity: .9;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.05);
}
.manageCombo-component tbody .dropdown-item:active {
    color: black;
    background-color: rgb(0, 0, 0, 0.15);
    opacity: .9;
}


/* Add Button */
.manageCombo-component .table .add-button {
    text-align: right;
    margin-bottom: 15px;
    margin-right: 40px;
}
.manageCombo-component .table .add-button-Link {
    background-color: rgb(0, 201, 170);
    color: white;
    margin-bottom: 120px;
    padding: 7px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.manageCombo-component .table .add-button .add-button-Link:hover {
    color: rgb(0, 201, 170);
    background-color: white;
    box-shadow: 9px 9px 10px rgb(0, 0, 0, 0.3);
}
.manageCombo-component .table .add-button .add-button-Link:active {
    opacity: .7;
}